<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="project-registry" value="https://git.deepl.dev/api/v4/projects/4298/packages/nuget/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="project-registry">
            <package pattern="BuildLogger.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>